.center-side{

flex:1;

display:flex;

justify-content:center;

}

#searchBox{

width:450px;

max-width:90%;

padding:14px 20px;

border-radius:35px;

border:none;

outline:none;

background:#1d1d1d;

color:white;

font-size:16px;

transition:.3s;

}

#searchBox:focus{

background:#292929;

box-shadow:0 0 12px #7c4dff;

}

.header-logo{

width:80px;

opacity:.25;

transition:.3s;

}

.header-logo:hover{

opacity:.7;

}

#clock{

font-size:20px;

font-weight:bold;

}

#date{

opacity:.7;

}
