body{

background:#0b0b0b;

color:white;

}

.topbar{

height:70px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid #333;

}

.header-logo{

width:90px;

opacity:.25;

}

.dashboard-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

padding:40px;

}

.card{

background:#171717;

border-radius:20px;

padding:45px;

text-align:center;

transition:.3s;

color:white;

font-size:20px;

}

.card:hover{

background:#5d3fd3;

transform:translateY(-8px);

}

footer{

height:70px;

display:flex;

justify-content:center;

align-items:center;

border-top:1px solid #333;

}
