/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.bomTable{

    width:100%;

    border-collapse:collapse;

}

.bomTable th{

    background:#1e293b;

    color:white;

    padding:10px;

}

.bomTable td{

    border:1px solid #334155;

    padding:8px;

    color:white;

}
