/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.dragLayer{

    position:absolute;

    inset:0;

    pointer-events:none;

}
