/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.gridBackground{

    position:absolute;

    inset:0;

    background-image:

    linear-gradient(#1f2937 1px,transparent 1px),

    linear-gradient(90deg,#1f2937 1px,transparent 1px);

    background-size:25px 25px;

}
