/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.propertiesPanel{

    padding:20px;

    color:white;

}

.propertiesPanel h2{

    margin-bottom:20px;

}
