/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.selectionBox{

    position:absolute;

    border:2px dashed #38bdf8;

    background:rgba(56,189,248,.15);

    pointer-events:none;

}
