/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.statusBar{

    position:absolute;

    left:0;

    right:0;

    bottom:0;

    height:32px;

    background:#0f172a;

    color:white;

    display:flex;

    align-items:center;

    padding-left:15px;

    border-top:1px solid #334155;

}
