/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.toolbar{

    display:flex;

    gap:10px;

    padding:12px;

    background:#111827;

    border-bottom:1px solid #334155;

}

.toolbar button{

    padding:8px 16px;

    border-radius:6px;

    background:#2563eb;

    color:white;

    cursor:pointer;

}
