/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.toolbox{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.toolboxButton{

    width:100%;

    height:45px;

    border-radius:8px;

    background:#1e293b;

    color:white;

}

.toolboxButton:hover{

    background:#2563eb;

}
