/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.recentProjects{

    margin-top:20px;

    padding:20px;

    border-radius:10px;

    background:#1e293b;

    border:1px solid #334155;

}

.recentProjects h2{

    margin-bottom:15px;

    color:#38bdf8;

}

.recentProjects p{

    margin:8px 0;

}
