/*****************************************************************
 * Karatech ELV
 * File : src/components/layout/Clock.css
 *****************************************************************/

.clock{

    display:flex;

    align-items:center;

    justify-content:center;

    min-width:130px;

    height:42px;

    background:#0f172a;

    color:#38bdf8;

    border:1px solid #334155;

    border-radius:8px;

    font-size:17px;

    font-weight:bold;

}
