/*****************************************************************
 * Karatech ELV
 * File : src/components/layout/Header.css
 * Description :
 * Header Style
 *****************************************************************/

.header{

    width:100%;

    height:70px;

    background:#1e293b;

    border-bottom:1px solid #334155;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 25px;

}

.header__left{

    width:35%;

}

.header__center{

    width:30%;

    display:flex;

    justify-content:center;

}

.header__right{

    width:35%;

    display:flex;

    justify-content:flex-end;

}

.header__title{

    color:#ffffff;

    font-size:24px;

    font-weight:bold;

}

.header__search{

    width:100%;

    height:42px;

    background:#0f172a;

    border:1px solid #475569;

    border-radius:8px;

    padding:0 15px;

    color:white;

}

.header__search::placeholder{

    color:#94a3b8;

}

.header__clock{

    color:#38bdf8;

    font-weight:bold;

    font-size:18px;

}
