/*****************************************************************
 * Karatech ELV
 * File : src/components/layout/Sidebar.css
 * Description :
 * Sidebar Style
 *****************************************************************/

.sidebar{

    width:270px;

    height:100vh;

    background:#111827;

    border-left:1px solid #334155;

    display:flex;

    flex-direction:column;

}

.sidebar__logo{

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#38bdf8;

    font-size:24px;

    font-weight:bold;

    border-bottom:1px solid #334155;

}

.sidebar__menu{

    display:flex;

    flex-direction:column;

    padding:15px;

    gap:10px;

}

.sidebar__button{

    height:48px;

    border-radius:10px;

    background:#1e293b;

    color:white;

    text-align:right;

    padding-right:18px;

    transition:.25s;

}

.sidebar__button:hover{

    background:#2563eb;

}
