/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.busbar{

    position:absolute;

    width:600px;

    height:12px;

    background:#d97706;

    top:120px;

    left:100px;

    border-radius:8px;

}
