/*****************************************************************
 * Karatech ELV
 *****************************************************************/

.cableLabel{

    background:#2563eb;

    color:white;

    padding:3px 8px;

    border-radius:4px;

    font-size:11px;

}
